body{
    background: url("https://png.pngtree.com/background/20230427/original/pngtree-clouds-above-a-bright-sky-picture-image_2494866.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

@media only screen and (max-width: 600px) {
    #toggle-label {
      display: none;
      }
      .container{
        flex-wrap: nowrap !important;
      }
      .container span{
        margin-left: 0px !important;
      }
  }