body{
    background: url("https://png.pngtree.com/background/20230427/original/pngtree-clouds-above-a-bright-sky-picture-image_2494866.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}