.cards{
  width: 12rem;
  margin: 1rem 0rem 0rem 37rem;
  /* padding: 2rem; */
  height: 15rem;
}


.city{
  width: 20rem;
  display: inline;
  margin-left: 23rem;
  margin-top: 10rem;
  margin-right: 1rem;

}

.country{
  width: 20rem;
  display: inline-block;
}

.button{
  margin-top: 1rem;
  margin-left: 23rem;
  display: block;
  width: 41rem;
}

.button2{
  margin-top: 1rem;
  margin-left: 23rem;
  display: block;
  width: 41rem;
}


.nav{
  margin-left: 2rem;
}